<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/head.html}"></head>
    <body>
        <div class="container p-4">
            <div th:replace="~{layout/navbar.html}"></div>
            <form th:action="@{|/service-front/notes/update/${note.getId()}|}" th:object="${note}" method="post" class="form-horizontal">
                <div class="mb-3">
                    <label for="content" class="form-label">Contenu</label>
                    <textarea class="form-control" id="content" placeholder="Contenu" th:field="*{content}"></textarea>
                    <small class="error" th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></small>
                </div>
                <div class="mb-5">
                    <label for="date" class="form-label">Date du rendez-vous</label>
                    <input type="date" class="form-control" id="date" th:field="*{date}">
                    <small class="error" th:errors="*{date}" th:if="${#fields.hasErrors('date')}"></small>
                </div>
                <div class="text-center">
                    <a class="btn btn-secondary me-2" th:href="@{|/service-front/patients/inspect/${patientId}}">Annuler</a>
                    <button type="submit" class="btn btn-success">
                        <span>Modifier</span>
                    </button>
                </div>
            </form>
            <div th:replace="~{layout/error-message.html}"></div>
        </div>
        <script th:replace="~{layout/date-fixer.html}"></script>
    </body>
</html>