.note-list-content {
    padding: 6px;
    border-radius: 8px;
    background-color: #fafafa;
    margin-bottom: 8px;
    font-style: italic;
}

.error-message {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auth-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card {
    border-radius: 10px;
    box-shadow: 0 0 4px #aaa;
}