<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/head.html}"></head>
    <body>
        <div class="container p-4">
            <div th:replace="~{layout/navbar.html}"></div>
            <form th:action="@{/patients/create}" th:object="${patient}" method="post" class="form-horizontal">
                <div class="mb-3">
                    <label for="lastname" class="form-label">Nom de famille</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nom de famille">
                    <small class="error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></small>
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Prénom">
                    <small class="error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></small>
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">Date de naissance</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate">
                    <small class="error" th:errors="*{birthDate}" th:if="${#fields.hasErrors('birthDate')}"></small>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Genre</label>
                    <select class="form-select" id="gender" name="gender">
                        <option th:value="''" selected>Choisir le genre du patient</option>
                        <option th:value="'F'" th:text="Femme"></option>
                        <option th:value="'M'" th:text="Homme"></option>
                    </select>
                    <small class="error" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></small>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Adresse postale</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Adresse postale">
                    <small class="error" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></small>
                </div>
                <div class="mb-5">
                    <label for="phoneNumber" class="form-label">Numéro de téléphone</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Numéro de téléphone">
                    <small class="error" th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}"></small>
                </div>
                <div class="text-center">
                    <a class="btn btn-secondary me-2" th:href="@{/patient-list}">Annuler</a>
                    <button type="submit" class="btn btn-success">
                        <span>Valider</span>
                    </button>
                </div>
            </form>
            <div th:replace="~{layout/error-message.html}"></div>
        </div>
        <script th:replace="~{layout/date-fixer.html}"></script>
    </body>
</html>